/*FOOTER*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/*FORMULARIO*/

h2 {
    color: #6d0505;
    font-weight: bold;
}

.form-control {
    border: 1px solid red;
    border-radius: 0px 5px 0px 5px;
}

.form-label {
    color: #6d0505;
    font-weight: bold;
}

.tamano {
    width: 50%;
    height: 26rem;
}

.selector {
    border: 1px solid red;
    height: 38px;
    border-radius: 0px 5px 0px 5px;
}

.titulo {
    margin-left: 1rem;
    color: #6d0505;
    font-weight: bold;
}

.cajaPasos {
    padding: 1rem;
    border: 2px #6d0505 solid;
    border-radius: 0px 50px 0px 50px;
    box-shadow:  10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*Quitar flechas del input number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

h4 {
    color: #6d0505;
    font-weight: bold;
}

.colorRojo {
    color: red;
}

.selector option[disabled] {
    display: none;
}

.codigoArea{
    display: flex;
    width: 15%;
}

.bordeCodigo {
    border-radius: 0px 0px 0px 5px;
}

h5 {
    color: #6d0505;
    font-weight: bold;
}

#selectProvincias {
    max-width: 100%;
}

#selectLocalidad {
    max-width: 100%;
}

h3 {
    color: #6d0505;
    font-weight: bold;
}

.confirmacion {
    font-weight: none;
}

.progress {
    width: 40%;
    text-align: center;
    font-weight: bold;
}

.flechas {
    font-size: 2.5rem;
    background-color: #fff;
    border: none;
    padding: none;
    margin: none;   
}

.paso {
    display: none;
}

#paso1 {
    display: block;
}

.botonConfirmar {
    width: 50%;
}

h1 {
    color: #6d0505;
    font-weight: bold;
}

h6 {
    color: #6d0505;
    font-weight: bold;
}

.gracias {
    display: none;
}

#gracias {
    text-align: center;
}

.error {
    color: red;
}