/* HEADER */

.container-header {
    width: 90%;
    max-width: 1790px;
    margin: 0 auto;
}

.header {
    background: #333;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.header a {
    color: #fafafa;
    text-decoration: none;

}

.logo-nav-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-icon {
    display: none;
}


.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 1rem 1rem;
    transition: all 0.4s linear;
    border-radius: 50px;
}

.navigation ul li a:hover {
    background: #4a4a4a;
}

.logo-header {
    letter-spacing: 10px;
    font-size: 1.2em;

}

/*FOOTER*/

.footer {
    background: #222222;
    text-align: center;
    color: #fafafa;
    margin-top: 6rem;
    width: 100%;
    bottom: 0;
    padding: 4rem;
    position: bottom;
}

/* FONDO */

body {
    background-image: url("https://i.ibb.co/TkTs0Ps/4077-gym.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*FORMULARIO*/

h2 {
    color: #6d0505;
    font-weight: bold;
}

.form-control {
    border: 1px solid red;
    border-radius: 0px 10px 0px 10px;
}

#numeroDoc {
    border-radius: 0px 10px 0px 0px;
}

.form-label {
    color: #6d0505;
    font-weight: bold;
}

.tamano {
    width: 50%;
    height: 26rem;
}

.selector {
    border: 1px solid red;
    height: 38px;
    border-radius: 0px 10px 0px 10px;
}

.titulo {
    color: #6d0505;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 1rem 0;
    -webkit-text-stroke: 2px #ffffff;
}

.cajaPasos {
    background-color: white;
    padding: 1rem;
    border: 1px #6d0505 solid;
    border-radius: 5px;
    box-shadow: 10px 10px 7px 0px rgba(70, 5, 5, 0.75);
}

/*Quitar flechas del input number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h4 {
    color: #6d0505;
    font-weight: bold;
}

.colorRojo {
    color: red;
}

.selector option[disabled] {
    display: none;
}

.codigoArea {
    display: flex;
    width: 15%;
}

.bordeCodigo {
    border-radius: 0px 0px 0px 10px;
}

h5 {
    color: #6d0505;
    font-weight: bold;
}

#selectProvincias {
    max-width: 100%;
}

#selectLocalidad {
    max-width: 100%;
}

h3 {
    color: #6d0505;
    font-weight: bold;
}

.confirmacion {
    font-weight: none;
}

.progress {
    width: 40%;
    text-align: center;
    font-weight: bold;
}

.flechas {
    font-size: 2.5rem;
    background-color: #fff;
    border: none;
    padding: none;
    margin: none;
}

.paso {
    display: none;
}

#paso1 {
    display: block;
}

.botonConfirmar {
    width: 50%;
}

h1 {
    color: #6d0505;
    font-weight: bold;
}

h6 {
    color: #6d0505;
    font-weight: bold;
}

.gracias {
    display: none;
}

#gracias {
    text-align: center;
}

.error {
    color: red;
}